.header-img {
    background-color: #ff7300; 
    color: white;
    padding: 70px 0;
    text-align: center;
    border-radius: 0 0 20px 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

}